<html>
<style>
    .container {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

    }

    .FirstDiv {
        display: flex;
        justify-content: center;

    }

    .FirstDiv>button {

        margin-right: 5%;

    }

    .item {

        margin-top: 5%;
        text-align: center;
        margin-right: 5%;
        width: 25%
      
    }

    .item>img:last-of-type {
      
        width: 5px;
}
</style>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    window.onload = function () {
        var addmovie = document.getElementById("addmovie");




    };
</script>


<script>

    function deleteitem(id) {

        axios({
            method: 'delete',
            url: 'http://localhost:8000/api/movies/' + id,

        });
        window.location.reload()
        "<%response.forEach(e=>{%>"
        if ("<%-e.Movies._id%>" === id) {
            axios({
                method: 'delete',
                url: 'http://localhost:8000/api/Subscription/' + "<%-e.Subscription._id%>",

            });

        }
        "<%})%>"
        window.location.reload()
    }

</script>



<body>
    <%if(Persmissions.includes('ViewMovies')){%>
        <div style="display: block;" id="viewmovie">
            hello <%=username%>
                <h1>Movies</h1>
                <div class="FirstDiv">
                    <button>All Movies</button>
                    <%if(Persmissions.includes('CreateMovies')){%>
                        <button style="display: inline;" onclick="window.location.href='/Movies/addmovie';">Add
                            Movie</button>
                        <%}%>
                            <form class="form" action="/Movies" method="POST">
                                Find Movie <input name="search" id="moviesearch" type="text">
                                <button type="submit" value="find">find</button>
                            </form>
                </div>
                <div class="container">



                    <%data.forEach(function(movie){ %>
                        <div class="item">
                            <fieldset>
                                <legend>
                                    <%=movie.Name%>

                                </legend>
                                <%=movie.Name%>,
                                    <%= String(movie.Premiered).substring(0,4)%><br>
                                        geners:<%=movie.Genres%><br>
                                            <div>
                                                <img style="height: 30vh;width: 30vh;" src="<%=movie.Image%>" /><br>
                                                <%response.forEach(res=>{%>
                                                    <%if(movie._id===res.Subscription.Movies[0].movieId){%>
                                                        <a href="Members/Member/<%=res.Members._id%>">
                                                            <%= res.Members.Name%>
                                                        </a>
                                                        <%}%>
                                                            <%})%>
                                            </div>
                                            <br>
                                            <%if(Persmissions.includes('UpdateMovies')){%>
                                                <button style="display: inline-block;" id="edit"
                                                    onclick="window.location.href='/Movies/editmovie/<%=movie._id%>';">edit</button>
                                                <%}%>
                                                    <%if(Persmissions.includes('DeleteMovies')){%>
                                                        <button style="display: inline-block;" id="delete"
                                                            onclick="deleteitem('<%=movie._id%>')">delete</button>
                                                        <%}%>



                            </fieldset>
                        </div>
                        <% })%>

                </div>
        </div>
        <%}%>
</body>

</html>